body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html {
    touch-action: manipulation;
}

#loading-bar .bar {
  background: #fff;
}

#loading-bar .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #fff;
  border-left-color: #fff;
}

.rulings {
    font-size: 13px;
}

.rulings h4 {
    font-size: 15px;
    font-weight:bold;
}

.error h4 {
    font-size: 12px;
    font-weight:bold;
    color:red;
}

.card-type {
    display:inline;
}

.card-text {
    font-weight:bold;
    margin-top:10px;
}

.card-name {
    display:inline;
}

.card-mana-cost {
    display:inline;
}