﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobile Gatherer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-square70x70logo" content="images/icon_70.png" />
    <meta name="msapplication-square150x150logo" content="images/icon_150.png" />
    <meta name="msapplication-wide310x150logo" content="images/icon_wide.png" />
    <meta name="msapplication-square310x310logo" content="images/icon_310.png" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/images/icon_192.png">
    <link rel="apple-touch-icon" href="/images/icon_152.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/loading-bar.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="js/vendor/jquery-1.11.0.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/promise-1.0.0.min.js"></script>
    <script src="js/vendor/fastclick.js"></script>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-animate.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>

    <script src="js/vendor/loading-bar.min.js"></script>
    <script src="js/vendor/ng-focus-on.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <script src="js/main.js"></script>
</head>
<body ng-app="MobileGatherer">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" onclick="window.scrollTo(0, 0)">Mobile MTG</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-no-collapse="true">
                    <li ng-class="{ active: isActive('/')}"><a href="/">Lookup</a></li>
                    <!--<li ng-class="{ active: isActive('/advsearch')}"><a href="#/advsearch">Search</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div ng-view>
    </div>
    
    <!-- Main -->
    <script type="text/ng-template" id="main.html">
        <div class="container">
            <h3>Quick Lookup</h3>
            <div class="row">
                <div class="col-sm-6">
                    <typeaheadsearch />

                    <div ng-show="details" class="hidden-xs" ng-include="'details.html'">
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2" ng-show="details.products">
                    <img class="front img-responsive card-image" ng-src="{{details.cardUrl}}" />
                </div>
                <div ng-show="details" class="col-xs-12 col-md-12 hidden-sm hidden-md hidden-lg" ng-include="'details.html'">
                </div>
            </div>
        </div>
    </script>

    <!-- Typeahead search Directive -->
    <script type="text/ng-template" id="partials/typeahead_search.html">
        <form role="form" name="quicklookup">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="lookupQuery"
                           typeahead="card.name for card in getCards($viewValue)"
                           typeahead-min-length="3"
                           typeahead-editable="false"
                           autocomplete="off"
                           typeahead-on-select="onSelect($item, $model, $label)" focus-on="typeaheadFocus" />

                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="focusTypeahead($event)"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </script>

    <!-- Card details view -->
    <script type="text/ng-template" id="details.html">
        <div class="rulings" ng-if="details">
            <hr/>
            <h3 class="card-name">{{details.name}}</h3>
            <div>
                <p class="card-type">{{details.type}}</p><p class="card-mana-cost" ng-if="details.manaCost"> - {{details.manaCost}}</p>
            </div>
            <p class="card-text">{{details.text}}</p>
        </div>

        <div class="rulings" ng-if="details.products && details.products.length">
            <hr />
            <h4>Prices</h4>
            <div ng-repeat="product in details.products" style="display:inline-block;margin:5px;">
                <div style="display: table;">
                    <a href="{{product.productPage}}"><span style="display:table-cell;vertical-align:middle; width: 21px; height: 21px; background-image: url('/images/expicons.png'); background-position: -{{product.iconX}}px -{{product.iconY}}px;"></span> <span style="display:table-cell;vertical-align:middle;padding-left:5px;font-weight:bold;">{{product.trendingPrice}} €</span></a>
                </div>
            </div>
        </div>
        <div class="error" ng-if="details && details.error">
            <hr />
            <h4>Prices</h4>
            <h4>Failed to get prices</h4>
        </div>

        <div class="rulings" ng-if="details && details.rulings && details.rulings.length">
            <hr />
            <h4>Rulings</h4>
            <div ng-repeat="ruling in details.rulings">
                <p><b>{{ruling.date}}:</b> {{ruling.text}}</p>
            </div>
        </div>
        <div class="rulings" ng-if="details && details.legalities && details.legalities.length">
            <hr />
            <h4>Legality</h4>
            <div ng-repeat="legality in details.legalities">
                <p>{{legality.format}} - {{legality.legality}}</p>
            </div>
        </div>
    </script>

</body>
</html>
